# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.next
.idea

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

NEXT_PUBLIC_NFT_STORAGE_API=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkaWQ6ZXRocjoweGFGRTg2MDNhODA4NjNkOTlmMkZCQzkzQzFDODhkMGY5YkJhREFBMzgiLCJpc3MiOiJuZnQtc3RvcmFnZSIsImlhdCI6MTY2MDU1OTYyMjY4MywibmFtZSI6Im1vb2czIn0.xcT7HRZqChN-NyytOPBAeu-x_T3dvIoXv-FVTFWSaYk