.profileBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 83%;
    height: 130%;
    background-color: #383E45;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileCard {
    background-color: #232429;
    width: 100%;
    height: 100%;
}

.profileTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    color: #FFA756;
    font-size: 30px;
    font-weight: 600;
}
.titleSection{
    display:flex;
    justify-content: center;
}

.profileBanner {
    width: 80%;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 110px;
}

.profilePFP {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #232429;
    position: relative;
    top: -50px;
    left: 150px;
}

.pfpContainer {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: center;
}



.profileName {
    color: rgb(255, 255, 255);
    position: relative;
    top: 60px;
    left: 63px;
    font-size: 20px;
    font-weight: 600;
}



.profileWallet {
    color: rgb(114, 114, 114);
    position: relative;
    top: 90px;
    right:15px;
    font-size: 14px;
}

.profileBio {
    color: rgb(255, 255, 255);
    position: relative;
    top: 120px;
    right: 138px;
    font-size: 16px;
    font-weight: 300;
}

.mWAndAM {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFA756;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: 60px;
}

.sectionWidth {

    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    left: 310px
}

.myWork {
    padding: 10px;
}

.workGallery {
    position: relative;
    top: 60px;
    width: 20%;
    margin: 20px 10px;
}

.personDesc {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: 80px;
}

.buttonSection {
    display: flex;
    justify-content: space-around;
}

.buttonStyle {
    background-color: #FFA756;
    color: rgba(0, 0, 0, 0.822);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 30px;
    position: relative;
    top: 120px;


}
.buttonStyle:hover {
    cursor: pointer;
    background-color: #fcb26d;
}