
.flex-col-hcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-hcenter {
    justify-content: center;
}

.ideas {
    width: 100%;
    height: 100%;
}

.group-258 {
    margin-bottom: 105px;
    box-sizing: border-box;
    width: fit-content;
}

.devs {
    margin-right: 143px;
    box-sizing: border-box;
    height: 100%;
}

.devs-button {
    width: 236px;
    height: 57px;
    margin-bottom: 11px;
}

.txt-581 {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 254%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    word-wrap: break-word;
    text-transform: capitalize;
}

.ideas {
    height: 100%;
}

.devs-button {
    width: 236px;
    height: 57px;
    margin-bottom: 11px;
}

.txt-581 {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 254%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    word-wrap: break-word;
    text-transform: capitalize;
}

.group-546 {
    margin-bottom: 88px;
    box-sizing: border-box;
    width: 100%;
}

.devs-2 {
    margin-right: 458px;
    box-sizing: border-box;
    height: fit-content;
}

.devs-button {
    width: 236px;
    height: 57px;
    margin-bottom: 11px;
}

.txt-581 {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 254%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    word-wrap: break-word;
    text-transform: capitalize;
}

.ideas {
    height: fit-content;
}

.devs-button {
    width: 236px;
    height: 57px;
    margin-bottom: 11px;
}

.txt-581 {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 254%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    word-wrap: break-word;
    text-transform: capitalize;
}

.ideas {
    width: fit-content;
}

.devs-button {
    width: 236px;
    height: 57px;
    margin-bottom: 11px;
}

.txt-581 {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 254%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    word-wrap: break-word;
    text-transform: capitalize;
}