@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,900;1,100;1,400;1,500;1,600;1,900&family=Sree+Krushnadevaraya&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.page {
  display: flex;
  justify-content: space-between;
}

.bottomBar {
  position:fixed;
  width: calc((100vw - 800px)*0.45);
  height: 100vh;
}
.logout{
  display: flex;
  position: relative;
  left:70px;
  margin-top: -100px;
  font-weight: bold;

}
.logout:hover{
  cursor: pointer;
}