.findYN {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 83%;
    height: 100%;
    background-color: #383e45;
    display: flex;
    align-items: center;
    justify-content: center;
}

.findYNCard {
    background-color: #232429;
    width: 100%;
    height: 100%;
}

.styledButton {
    background-color: #383e45;
    color: white;
    font-size: 10px;
    font-weight: 600;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.findYNTitle {
    padding: 10px;
    margin-left: 430px;
    margin-top: 100px;
    color: #ffa756;
    font-size: 30px;
    font-weight: 600;
}

.findYNSubtitle {
    padding: 10px;
    margin-left: 485px;
    color: gray;
    font-size: 16px;
    font-weight: 500;
}

.categoriesDiv {
    width: 0px;
    margin-left: 140px;
    padding-top: 40px;
}

.flex-col-hcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-hcenter {
    justify-content: center;
}

.ideas {
    width: 100%;
    height: 100%;
}

.group-258 {
    margin-bottom: 105px;
    box-sizing: border-box;
    width: fit-content;
}

.devs {
    margin-right: 143px;
    box-sizing: border-box;
    height: 100%;
}

.devs-button {
    width: 236px;
    height: 57px;
    margin-bottom: 11px;
}

.txt-581 {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
    line-height: 254%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    word-wrap: break-word;
    text-transform: capitalize;
}

.ideas {
    height: 100%;
}

.devs-button {
    width: 236px;
    height: 57px;
    margin-bottom: 11px;
}

.txt-581 {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
    line-height: 254%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    word-wrap: break-word;
    text-transform: capitalize;
}

.group-546 {
    margin-bottom: 88px;
    box-sizing: border-box;
    width: 100%;
}

.devs-2 {
    margin-right: 458px;
    box-sizing: border-box;
    height: fit-content;
}

.devs-button {
    width: 236px;
    height: 57px;
    margin-bottom: 11px;
}

.txt-581 {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
    line-height: 254%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    word-wrap: break-word;
    text-transform: capitalize;
}

.ideas {
    height: fit-content;
}

.devs-button {
    width: 236px;
    height: 57px;
    margin-bottom: 11px;
}

.txt-581 {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
    line-height: 254%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    word-wrap: break-word;
    text-transform: capitalize;
}

.ideas {
    width: fit-content;
}

.devs-button {
    width: 236px;
    height: 57px;
    margin-bottom: 11px;
}

.txt-581 {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
    line-height: 254%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    word-wrap: break-word;
    text-transform: capitalize;
}
