$shadow-opacity: 0.30;

.secondDiv {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.secondDivProj {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.someFlex2 {
    display: flex;
    justify-content: flex-end;

}

.settingsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.settingsTitleTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-top: 20px;
    margin: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.backgroundImg {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;



    .applyTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: white;
        margin-top: 15px;
        padding: 10px;
    }

    .titleSet {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px;
        margin: 50px;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

    }

    .skillsAndInterests {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .bannerPfpNameAboutSection {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px;
        margin: 50px;
        box-sizing: border-box;
        overflow: hidden;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

    }

    .containerBigCheck {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px;
        margin: 50px;
        box-sizing: border-box;
        overflow: hidden;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .container2 {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 20px;
        align-items: center;
        font-family: "Poppins", sans-serif;
        box-sizing: border-box;
        overflow-x: hidden;


    }

    .containerCheck {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        box-sizing: border-box;
        overflow: hidden;

        border-radius: 10px;

    }

    .secondContainer {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 25px;
        margin: 50px;
        margin-top: 10px;
        box-sizing: border-box;
        overflow: hidden;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        flex-wrap: wrap;
    }

    .mainContainer {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 25px;
        margin: 50px;
        margin-top: 10px;
        box-sizing: border-box;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.151);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        flex-wrap: wrap;
    }


    .secondContainer2 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px;
        margin: 50px;
        margin-top: 10px;
        box-sizing: border-box;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.158);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        flex-wrap: wrap;
        align-content: center;
    }

    .saveBtnSection {
        display: flex;

    }

    .bigProjCard {
        border-radius: 10px;
        margin: 10px;
    }



    .welcomeText {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        color: white;
        max-width: 600px;
        line-height: 50px;
    }

    .settingsTitle {

        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        max-width: 600px;
        padding-top: 10px;
        line-height: 50px;
    }

    .setText {
        padding-top: 90px;
        padding-bottom: 10px;
        text-align: center;
    }

    .setTextAbout {
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
    }

    .setTextContr {
        padding: 20px;
        text-align: center;
    }

    .links {
        display: flex;
        justify-content: right;
        padding-right: 120px;

    }

    .links2 {
        display: flex;
        justify-content: right;
        padding-right: 20px;

    }

    .arrow {

        border: solid rgb(226, 206, 241);
        border-width: 0 6px 6px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(-45deg);

    }

    .arrow:hover {

        cursor: pointer;
        border: solid rgb(176, 151, 196);
        border-width: 0 6px 6px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(-45deg);

    }

    .backArrow {

        border: solid rgb(226, 206, 241);
        border-width: 0 6px 6px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(133deg);

    }

    .backArrow:hover {

        cursor: pointer;
        border: solid rgb(176, 151, 196);
        border-width: 0 6px 6px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(133deg);

    }

    .linksBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .trashBtn {
        display: flex;
        padding-bottom: 450px;
    }

    .textArea {
        width: 400px;
        height: 150px;
        border-radius: 10px;
        border: 2px solid rgb(234, 223, 243);
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
        font-family: 'Poppins', sans-serif;

        overflow: auto;
        outline: none;
        padding: 10px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .checkLetters {
        font-size: 15px;
        color: white;
    }

    .inputName {
        width: auto;
        height: auto;
        border-radius: 10px;
        padding: 10px;
        border: 2px solid rgb(234, 223, 243);
        background-color: #f8f8f8;
        font-size: 15px;
        resize: none;
        overflow: auto;
        outline: none;
        -webkit-box-shadow: none;
        font-family: 'Poppins';
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .someFlex {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .someFlexCheck {
        display: flex;
        flex-direction: column;
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }


    .connText {
        padding: 10px 0px 30px;
        font-weight: 600;
        text-align: center;
    }

    .connTextContr {
        text-decoration: underline;
        padding-bottom: 10px;
        font-weight: 600;
        text-align: center;
    }


    input[type=file]::-webkit-file-upload-button {
        background: rgba(255, 255, 255, 0.233);
        // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.479);
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
        color: white;
        padding: 6px;
    }

    input[type=file]::-webkit-file-upload-button:hover {
        transition: 0.5s;
        background: rgba(255, 255, 255, 0.479);
        border-radius: 10px;
        cursor: pointer;
    }

    .uploadFiles {
        position: absolute;
        top: 30px;
        left: 50px;
    }

    .uploadFilesPfp {
        position: absolute;
        top: 208px;
        left: 50px;
    }

    .banner {
        width: auto;
        height: 121px;
        border-radius: 10px;
        border: 5px solid rgb(234, 223, 243);
    }

    .pfp {
        position: absolute;
        top: 108px;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        border: 5px solid rgb(234, 223, 243);
    }

    .styleButton {
        font-family: 'Poppins', sans-serif;
        background: rgba(230, 170, 232, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 10px;
        border: none;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

    .styleButton:hover {
        background-color: #f8f8f893;
        cursor: pointer;
    }

    .linksHere {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

}

@media only screen and (max-width: 600px) {

    .projectUsersContainer {
        flex-direction: column;
    }

}