$shadow-opacity: 0.30;

.mainContainer {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;

    .bigCard {
        backdrop-filter: blur(20px) saturate(181%);
        -webkit-backdrop-filter: blur(11px) saturate(181%);
        background-color: rgba(255, 255, 255, 0.39);
        border-radius: 10px;
        border: 1px solid rgba(209, 213, 219, 0.13);
        filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, $shadow-opacity));
        margin: 40px;
    }

    .bigCardLikes {
        backdrop-filter: blur(20px) saturate(181%);
        -webkit-backdrop-filter: blur(11px) saturate(181%);
        background-color: rgba(255, 255, 255, 0.753);
        border-radius: 10px;
        border: 1px solid rgba(209, 213, 219, 0.13);
        filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, $shadow-opacity));
        margin: 30px;
    }

    .presentation {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 68px 0 29px 0;
        align-items: center;
        overflow-x: hidden;
        top: 0;
        left: 0;
    }

    .container {
        backdrop-filter: blur(20px) saturate(181%);
        -webkit-backdrop-filter: blur(11px) saturate(181%);
        background-color: rgba(255, 255, 255, 0.034);
        border-radius: 10px;
        border: 1px solid rgba(209, 213, 219, 0.164);
        filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, $shadow-opacity));
        margin: 50px;
        margin-top: 10px;
        padding-top: 20px;
    }

    .projectNumber {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 20px;
        gap: 1rem;
    }

    .projectButton {
        font-family: 'Poppins', sans-serif;
        background: rgba(230, 170, 232, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

    .projectButton:hover {
        transition: 0.2s;
        background: rgba(255, 255, 255, 0.116);
        cursor: pointer;
        border-radius: 10px;

    }


    .aDecor {
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: #313131;
    }

    .banner {
        width: 60%;
        max-width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;

    }

    .sides {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .pfp {
        width: 100px;
        max-width: 130px;
        max-height: 130px;
        object-fit: cover;
        height: 100px;
        border-radius: 50%;
        position: relative;
        top: -50px;
        border: 2px solid rgba(255, 255, 255, 0.521);
    }

    .name {
        font-size: 25px;
        text-transform: uppercase;
        position: relative;
        top: -23px;
        color: white;
        font-weight: 600;
    }

    .projectTags {
        position: relative;
        text-transform: uppercase;
        color: #232429;
        font-style: italic;
        top: -20px;
        padding: 5px;
    }

    .links {
        display: flex;
        gap: 1rem;
        position: relative;
        top: -10px;

    }

    .description {
        padding: 15px;
        padding-bottom: 20px;
        width: 40%;
        text-align: center;
        line-height: 1.3;
        color: rgb(61, 58, 58);
    }

    .likeDiv {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        top: 150px;
        font-size: 20px;
        gap: 200px;
    }

    .iconLabel:hover {
        cursor: pointer;
    }

    .likeDiv .iconLabel {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .iconSpace {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        color: white;
        text-transform: uppercase;
        border: 1px solid white;
        background-color: #ffffff18;
        border-radius: 10px;
        padding: 11px;
        font-size: 17px;

    }

    .iconSpace a {
        text-decoration: none;
        color: white;
    }

    .iconSpace:hover {
        cursor: pointer;
    }

    .likesSection {
        padding: 20px;
    }

    .picturePost {
        display: flex;
        align-items: center;
        width: 30%;
        height: auto;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        color: white;
        text-transform: uppercase;
        border: 1px solid white;
        background-color: #ffffff18;
        border-radius: 10px;
        padding: 11px;
        font-size: 17px;

    }


    .postsBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }

    .iconSpaceWrite {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 20px;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .textArea {
        width: 100%;
        height: 81px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 10px;
        border: 3px solid #eadff3;
        background-color: #f8f8f8;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        resize: none;
        overflow: hidden;
        outline: none;
        box-shadow: none;
    }

    .inputText {
        width: 20%;
        height: auto;
        border-radius: 10px;
        border: 2px solid #eadff3;
        background-color: #f8f8f8;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        resize: none;
        overflow: auto;
        outline: none;
        box-shadow: none;
        padding: 3px;
    }

    .checkedIcon2:hover {
        cursor: pointer;
    }

    .thisLabel {
        padding: 10px;

    }

    .line {
        background-color: #2324297c;
        display: block;
        height: 3px;
        left: 50%;
        position: relative;
        transform: translate(-50%, 0);
        width: 70px;
        border-radius: 10px;
    }

    .lookingForTitle {
        display: flex;
        flex-direction: column;
        padding: 26px;
        align-items: center;
        overflow-x: hidden;
        font-size: 20px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
    }


    .lookingForSection {
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding-bottom: 46px;
        gap: 2rem;

    }

    .lookingForOptions {
        display: flex;
        align-items: center;
        background: rgba(230, 170, 232, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 10px;
        border: none;
        padding: 10px;
        text-align: center;
    }

    .lookingForName {
        font-weight: 600;

        color: white;
        text-transform: uppercase;
    }

    .lookingForDescription {
        padding-bottom: 13px;
        color: rgb(71, 67, 67);

    }

    .card {
        background: hotpink;
        padding: 3rem 5rem;
        border-radius: 10px;
        box-shadow: #313131;
    }

    .sectionProjAndContr {
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .sectionProjAndContr .projectsAndContributions {
        background-color: #232429;
    }

    .contributorsSection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
        padding-bottom: 50px;
        justify-content: center;
        gap: 3rem;
    }

    .contributorsPic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid rgba(255, 255, 255, 0.18);

    }

    .printPosts {
        background-color: rgba(255, 255, 255, 0.336);
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        max-height: 300px;
        overflow: auto;
    }

    .printPosts::-webkit-scrollbar {
        display: none;
    }



    .postsBigBox {
        display: flex;
        flex-direction: column;

    }

    .posts {
        background-color: rgba(221, 131, 131, 0.144);
        border-radius: 10px;
        padding: 10px;
        margin: 6px;
        height: auto;
    }

    .posts:hover {
        transition: 0.5s;
        background: rgba(255, 255, 255, 0.644);
        cursor: pointer;
        border-radius: 10px;
    }

    .postsTitle {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 9px;
        color: rgb(72 65 111);
        text-transform: uppercase;
    }

    .postsContent {
        font-size: 14px;
        padding-bottom: 10px;
        color: white;
    }



}

@media only screen and (max-width: 760) {

    .pfp {
        width: 100%;
        max-width: 72px;
    }


}