.settingsBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 83%;
    height: 165%;
    background-color: #383E45;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settingsCard {
    background-color: #232429;
    width: 100%;
    height: 100%;
}

.settingsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    color: #FFA756;
    font-size: 30px;
    font-weight: 600;
}

.inputUl {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.detailsDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffa856d3;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: 30px;
}

.settingsInput {
    background-color: transparent;
    border-color: #fffdfc;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px 40px 8px 40px;
    margin: 50px 0px 10px 0px;

}

.buttonSection {
    display: flex;
    justify-content: center;
}

.buttonStyle {
    background-color: #FFA756;
    color: rgba(0, 0, 0, 0.822);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 30px;
    position: relative;
    margin: 50px 0px 0px 0px;
}

.buttonStyle:hover {
    cursor: pointer;
    background-color: #fcb26d;
}

.imgsDiv {
    display: flex;
    justify-content: center;
    padding: 10px;
}


.profileBanner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 60px 0px 0px 0px;
}

.imgsPic {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin: 60px 0px 0px 0px;

}

.imgsPfp {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 60px 0px 0px 0px;

}